html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
	color: #333;
	font-size: 16px;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

a {
	color: #009688;
}

.text-center {
	text-align: center;
}

.container {
	width: 95%;
}

.current-learning {
	text-align: center;
}

h3 {
	font-weight: 200;
	margin-bottom: 60px;
	margin-top: 0;
	padding: 30px 0px 30px 0px;
	text-transform: uppercase;
	text-indent: 5ch;
	text-decoration: underline;
	
}

h4 {
	text-indent: 5ch;
}

.section {
	padding-bottom: 30px;
	padding-top: 0px;
	position: relative;
}

.full-height {
	height: 100vh;
}

.card {
	margin-bottom: 60px;
}

.card .card-content {
	padding-bottom: 30px;
}

.card .card-content p {
	padding: 5px 0 0;
}

.fake-h {
	font-size: 20px;
}

a.hoverline {
	border-bottom: 3px solid transparent !important;
	padding: 3px 3px 0 3px;
	transition: .25s all;
	-moz-transition: .25s all;
	-webkit-transition: .25s all;
}
a.hoverline:hover {
	border-bottom: 3px solid #009688 !important;
}

#skills h4 {
	border-bottom: 1px solid #ddd;
	margin-bottom: 30px;
	padding-bottom: 20px;
}
#skills .col img.responsive-img {
	margin: 0 auto;
	max-height: 100px;
	min-height: 100px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: middle;
  	display: table-cell;
}

#skills .col img.smallerImg {
	padding-top: 10px;
	padding-bottom: 30px;
}

.teal {
	background-color: #008073 !important;
}

.my-info {
	color: white;
	text-shadow: 0px 0px 5px teal;
	
}
.person {
	display:block;
	-webkit-font-smoothing:antialiased;
	color:inherit
}

.person,.person:hover {
	text-decoration:none;
	color: #333;
}

.site-sidebar .person {
	padding-top: 50px;
	text-align: center;
}

.person .person-avatar {
	border-radius:50%;
	margin-bottom:10px;
}

.person .person-avatar .avatar {
	height: 80vh;
	border-radius:25%;
}

.person .person-content {
	margin-left:40px;
	margin-right:40px;
}

.person .person-content .person-title {
	font-size:22px;
	font-weight:500;
	text-transform:uppercase;
}

.person .person-content .person-subtitle {
	font-size:16px;
	font-weight:300;
	text-transform:uppercase;
}

.site-sidebar {
	background-color: #666;
}

nav {
	display: flex;
	justify-content: space-around;
	background: white;
	box-shadow: none;
	height: 100%;
	text-align: center;
}

nav div a {
	width: 200px;
	border-radius: 10px;
}

.fa {
	font-size: 3vh;
}

.block-social {
	text-align:center;
}

.block-social a {
	color: #333;
}

.back-to-top {
	background: none;
	position: fixed;
	bottom: 0;
	right: 10px;
	width: 70px;
	height: 70px;
	z-index: 100;
	text-decoration: none;
	text-align: center;
	color: #aaa;
	background-color: #aaa;
	padding: 0;
}
	 
.back-to-top i {
	font-size: 60px;
}

a.back-to-top {
	background-color: transparent;
}

.projects {
	height: 10vh;
	width: 20vw;
	margin: 50px;
}

.contactSection {
	display: flex;
	text-align: center;
	justify-content: space-evenly;
}
.contactSection a {
	font-size: 50px;
}

.nav-stuff {
	background-color: #aaa;
	border-radius: 10px;
	margin-top: 5px;
	width: 220px;
	padding: 0px 30px 0px 30px;
}

.about-info {
	margin: 10px;
}

.portfolio-title {
	margin-left: 5px;
	text-decoration: underline;
}

.portfolio-item {
	margin-left: 25px;
	padding: 0px;
}

ul {
	list-style-type: circle;
}

p {
	width: 80ch;
	margin: 0 auto 1rem;
}

.description {
	width: 80ch;
	margin: 0 auto 1rem;
}

@media (max-width:1023px) {
	.person .person-avatar img {
		width:60vh;
		border-radius: 25%;
	}
	
	p {
	width: 60ch;
	margin: 0 auto 1rem;
	}
	
	.description {
	width: 60ch;
	margin: 0 auto 1rem;
	}
}

@media (max-width: 992px) {
	.person .person-avatar img {
		width: 50vh;
		border-radius: 25%
	}
	p {
	width: 60ch;
	margin: 0 auto 1rem;
	}
	
	.description {
	width: 60ch;
	margin: 0 auto 1rem;
	}
}

@media (max-width:700px) {
	.person .person-avatar img {
		width: 45vh;
		border-radius: 25%
	}
	p {
	width: 40ch;
	margin: 0 auto 1rem;
	}
	
	.description {
	width: 40ch;
	margin: 0 auto 1rem;
	}
}

@media (max-width: 600px) {
	#skills .col img.responsive-img {
	margin: 0 auto;
	max-height: 75px;
	min-height: 75px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: middle;
  	display: table-cell;
	}
	
	.projects {

	width: 50vw;
	margin: 50px;
}
	
	h2 {
	  font-size: 22px;
	  line-height: 200%;
	  margin: 30px 0 0;
	}
	p {
	width: 35ch;
	margin-left: 45px;
	margin-right: 45px;
	}
	
	.description {
	width: 35ch;
	margin-left: 45px;
	margin-right: 45px;
	}

	.back-to-top {
	right: 5px;
	}
	
	.nav-stuff {
	margin-left: 25%;
	margin-right: 25%;
	}
}